@using Jumbo.Core.Interfaces;
@inject IMediaController mediaController;

@{
    string folderName = "Logos";
    var images = mediaController.CreateFolderAtRoot(folderName);
    //mediaController.CreateFolderAtRoot(folderName);
}


@foreach(var img in images)
{
    <div>@img.Name</div>
}

<form>
    <input type="text" />

    <button type="submit">
        Click Me!
    </button>
</form>


