@using Jumbo.Core.Interfaces;
@inject IMediaController mediaController;

@{
    string folderName = "Logos";
    //mediaController.CreateFolderAtRoot(folderName);
}


<div>@mediaController.CreateFolderAtRoot(folderName)</div>

<form>
    <input type="text" />

    <button type="submit">
        Click Me!
    </button>
</form>


