@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<partial name="~/Views/Partials/metaSeo.cshtml" />
	<body>
		<main>
			@RenderBody()
		</main>
	</body>
</html>